services:
  app:
    build:
      context: ./docker/php
    container_name: user_balances-app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    environment:
      PHP_OPCACHE_VALIDATE_TIMESTAMPS: "1"

  web:
    image: nginx:alpine
    container_name: user_balances-web
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

  redis:
    image: redis:alpine
    container_name: user_balances-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  db:
    image: postgres:latest
    container_name: user_balances-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5430:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    image: adminer:latest
    container_name: user_balances_adminer
    restart: unless-stopped
    ports:
      - "8081:8080"
    depends_on:
      - db

  composer:
    image: composer:2
    container_name: user_balances-composer
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    entrypoint: [ "composer" ]

volumes:
  db_data:
  redis_data:
  pgadmin-data:
